body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.w-full {
  width: 100%;
}

.deleted-row {
  /*background-color: #f0f0f0;*/ /* 원하는 색상으로 변경 */
  /*pointer-events: none; /* hover 효과 방지 */
  color: #c8c8c8;
}

.deleted-row:hover {
  background-color: #f0f0f0; /* hover 시에도 동일한 색상 유지 */
}
